<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceFolder" value="\\Ausdsnas03.aus.amer.dell.com\Global_IC_Data$\StdWrkSp\DataFiles"/>
    <add key="OutputFolder" value="D:\ATS_Report\Report"/>    
    <add key="TranFilePostfixNameList" value="3PL-EG3,AW1,BNA,ELP,FG3,MXC,SCA"/>
    <add key="SnapFilePostfixNameList" value="3PL-EG3,AW1,BNA,ELP,FG3,MXC,SCA"/>
    <add key="AgingReportSheetName" value="Raw Data"/>
    <add key="ProfileReportSheetName" value="Sheet1"/>
    <add key="OnhandReportSheetName" value="OnHand_Inventory"/>
  </appSettings>
</configuration>